.footer {
    color: black;
    background-color: rgb(47, 85, 151);
    padding-top: 1% ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 10%;
    position: relative;
    bottom: 0;
}