.panel {
    background-color: #EDF2F7;
}

.panel .content {
    display: flex; 
}

.panel .paire div {
    margin-right: 20px;
    margin-top: 5%;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    height: 10%;
}

.paire div img {
    width: 80px;
    height: auto;
    margin-right: 20px; 
}

.panel .a{
    display: flex;
    align-items: center;
    width: 100%;
}

.panel .pair{
    width: 25%; 
}

.panel .paire{
    padding: 2%;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.panel_cbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel_cbtn .btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* navigation */

.navigation *{
    padding: 0;
    margin: 0;
    color: black;
}

.navigation{
    width: 10%; 
    background-color: rgb(47, 85, 151);
    color: white; 
    padding: 20px; 
    height: 100vh;
}

.navigation .nav_button p {
    margin: 0; 
    font-size: 14px; 
    margin-right: 5px; 
}


.navigation .nav_button img {
    width: 20px; 
    height: auto; 
}

.nav_button {
    display: flex;
    margin-bottom: 20px; 
    padding: 15px; 
    border: none; 
    border-radius: 5px; 
    background-color: yellow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation .sign_out{
    position: absolute;
    bottom: 1%;
    left: 1%;
}



/* user */

div .userframe {
    width: 100%;
    margin: 10px;
}

.userframe .box {
    margin: 5%;
    padding: 15%;
    background-color: white;
    border-radius: 5px;
    height: 100%;
}

.userframe .box img {
    width: 80px;
    height: auto;
    margin-right: 20px; 
    background-color: yellow;
    padding: 15px; 
    border-radius: 25%; 
    
}

.userframe .grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    row-gap: 10%;
}
.userframe .single{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.userframe .single button {
    width: 64px;
    height: 64px;
    margin-right: 2%;
}

.userframe .a {
    display: flex;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    width: 800px;
    border: 2px solid black;
    border-radius: 20px; 
    padding: 1%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_user .image {
    border-radius: 5%; 
    background-color: yellow;
}


.popup .title {
    width: 80%; 
    padding: 1%;
}

.add_user .mail {
    width: 50%;
}

.add_user .mail form {
    margin-top: 10px;
}

.popup h1 {
    text-align: center; 
}

.add_user p {
    width: 50%;
    size: auto;
}

.popup .top{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.popup .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.add_user .button {
    padding: 1%;
}


.popup .button button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.popup select {
    margin: 10px;
}

.add_user .mail form select,
.mail form input[type="submit"] {
    width: 80%;
    padding: 0; 
    margin: 0; 
    background: none; 
    border: none; 
    font-size: inherit; 
}



/* forms */

.forms {
    margin: 10px;
    width: 100%;
}

.forms .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    gap: 40%;
    background-color: white;
    border-radius: 10px;
    height: 15%;
    width: 100%;
    box-shadow: 5px 5px 0px 0px #2F5597;
    margin: 1% 0 1% 0;
}

.forms .box button {
    width: 20%;
    height: 25%;
}

.forms .top {
    justify-content: center;
}

.forms .box img {
    cursor: pointer;
}